@page
@model WebApp.Pages.TeachersModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="row">
  <h1 class="display-2">Teachers</h1>
  <table class="table">
    <thead class="thead-inverse">
      <tr><th>School Teachers</th></tr>
      <tr><td><a class="btn btn-primary" href="subjects">Add new</a></td></tr>
    </thead>
    <tbody>
    @foreach(var teacher in Model.Teachers)
    {
      <tr><td>@teacher.FirstName @teacher.SecondName @teacher.FirstSurname @teacher.SecondSurname</td></tr>
    }
    </tbody>
  </table>
</div>
<div class="row">


</div>